.header {
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 950px;
}

.headerh1 {
    font-size: 3.2em;
    line-height: 1.1;
    flex: 1 1 auto;
    margin-right: 50px;
}

.headertxt {
    flex: 0 1 auto;
    text-align: right;
    margin-right: 50px;
}

.contents {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 18%;
    min-width: 90px;
}

nav ul a {
    text-decoration: none;
    color: #333;
}

nav ul li.current a {
    color: #F33135;
}

nav ul a:hover {
    color: #E7DA66;
}

/* styles/PopUp.module.css */
.PopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    height: 620px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    width: 120px;
    text-align: left;
    margin-right: 10px;
}

.input {
    flex: 1;
    padding: 5px;
}

.select {
    flex: 1;
    padding: 5px;
}

.errorMessageHeader {
    position: relative;
    left: 20px;
}

.errorMessage {
    color: #F33135;
    position: relative;
    left: 20px;
}

.errorMessage2 {
    color: #F33135;
    position: fixed;
    left: 20px;
}

.btn-style {
    margin: 20px;
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
}

.btn-style:hover {
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
}

.PopUpButtonGroup {
    text-align: center;
}

.PopUpErrorBorder {
    border: solid 1px;
    width: 500px;
    height: 200px;
    border-radius: 20px;
}

.customPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
    height: 550px;
}

.customPopUpHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.customHeaderLabel {
    font-weight: bold;
    font-size: 1.2em;
}

.customPopUpChange {
    border: solid;
    border-color: #5c9ee7;
    padding: 0px 5px 0px 5px;
    height: 450px;
    overflow: scroll;
}

.customBookItemLabel {
    color: black;
    position: relative;
    background: #f1f8ff;
    line-height: 1.5;
    padding: 0.5em;
    margin-bottom: 4px;
    border-left: solid 35px #f1f8ff;
    display: flex;
}

.customBookNameLabel {
    display: inline-block;
    width: 60%;
    /* 固定幅で表示 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customUpdateTimeLabel {
    display: inline-block;
    width: 30%;
    /* 固定幅で表示 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customPopUpChange ul {
    padding: 0;
    margin: 0;
}

.customBookList {
    list-style: none;
    padding: 0;
}

.customBookItem {
    color: black;
    position: relative;
    background: #f1f8ff;
    line-height: 1.5;
    padding: 0.5em;
    margin-bottom: 4px;
    border-left: solid 35px #5c9ee7;
    cursor: pointer;
}

.customBookItemSelect {
    color: black;
    position: relative;
    background: #fff1f1d8;
    line-height: 1.5;
    padding: 0.5em;
    margin-bottom: 4px;
    border-left: solid 35px #ee4040;
    cursor: no-drop;
}

.customBookName {
    display: inline-block;
    width: 60%;
    /* ここで幅を指定します */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customUpdateTime {
    display: inline-block;
    width: 35%;
    /* ここで幅を指定します */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customPopUpButtonGroup {
    text-align: center;
    margin-top: 20px;
}

.customBtnStyle {
    margin: 20px;
    color: #fff;
    background: #11a37f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.customBtnStyle:hover {
    background: #0f745b;
}

/*AssetsCSS*/
.customContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 65vh;
}

.customTotalAssetsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 60%;
    border: solid 2px;
}

.customTotalAssetsTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.customTotalAmount {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.customAssetsLiabilitiesWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.customAssetsWrapper,
.customLiabilitiesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.customAssetTitle,
.customLiabilityTitle {
    font-size: 18px;
    margin-bottom: 5px;
}

.customAssetAmount,
.customLiabilityAmount {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.customHeaderWrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 20px;
}

.customDetailsWrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    border: solid 2px;
}

.customLeftSection {
    width: 48%;
    border-right: solid 2px;
    padding: 20px;
}

.customRightSection {
    width: 48%;
    border-left: solid 2px;
    padding: 20px;
}

.customDetailTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.customDetailItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.customDetailLabel {
    font-size: 16px;
}

.customDetailAmount {
    font-size: 16px;
}

.customHeaderTitle {}

.CategoryGroup {
    border: 2px solid #e0e0e0;
    /* 枠線のスタイル */
    border-radius: 10px;
    /* 角を丸く */
    padding: 15px;
    /* 内側の余白 */
    margin-bottom: 5%;
    /* 各カテゴリ間のスペース */
    background-color: #f9f9f9;
    /* 背景色 */
}

.CategoryGroup:hover {
    background-color: #f0f0f0;
}

.Categorylabel {
    font-weight: bold;
    /* 太字 */
    font-size: 1.2em;
    /* 文字サイズ */
    display: block;
    /* ブロック表示 */
    color: #333;
    /* 文字色 */
}

.Categoryspan {
    white-space: nowrap;
    /* テキストを折り返さない */
    background-color: #e0e0e0;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.SubGroup {
    display: flex;
    overflow-x: auto;
    padding: 5px;
    gap: 10px;
    scrollbar-width: thin;
    /* Firefox */
}

.SubGroup::-webkit-scrollbar {
    height: 8px;
}

.SubGroup::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
}

.SubGroup::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.Category {
    max-height: 330px;
    /* スクロール可能な最大高さを指定 */
    overflow-y: auto;
    /* 縦方向のスクロールを有効に */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.Category::-webkit-scrollbar {
    width: 8px;
    /* 縦スクロールバーの幅 */
}

.Category::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.Category::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* 資産・負債の切り替えボタン */
.TagSwitcher {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* 親要素の高さを100%に設定 */
    width: 80%;
    /* 親要素の幅を100%に設定 */
}

.TagSwitcher button {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.TagSwitcher button.active {
    background-color: #4CAF50;
    color: white;
}

.TagSwitcher button:not(.active):hover {
    background-color: #bbb;
}

.ChangeCategoryPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1200;
    /* overlayの上に表示されるようにz-indexをさらに上に設定 */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 600px;
}

.ChangeCategoryLabel {
    width: 50px;
    text-align: left;
    margin-right: 10px;
}

.category-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.category-label {
    font-weight: bold;
    width: 20%;
    font-size: 1.1em;
}

.category-name-input {
    font-size: 1.1em;
    color: #333;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

.form-group {
    display: flex;
    align-items: center;
}

.category-label {
    margin-right: 10px;
}